.container {
  justify-content: center;
}

.row {
  padding: 5px;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  justify-content: center;
}

div {
  margin: auto;
  max-width: 800px;
}

header {
  margin: auto;
  max-width: 800px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

img {
  margin: auto;
  max-width: 800px;
  width: 100%;
}

.text-column {
  flex: 2;
}

.link.column {
  flex: 1;
}

.yoshi.column {
  flex: 1;
}

.dk-column {
  flex: 1;
}

.mario-column {
  flex: 1;
}

.column-1 {
  flex: 1;
}

.column-2 {
  flex: 1;
}

.column-3 {
  flex: 1;
}

.column-4 {
  flex: 1;
}
